<div class="pedido">
<div class="contenedorPedidos">
  <div class="izq">
    <button (click)="tequilaPedido()" class="boton">TEQUILA.</button>
    <div class="cantBebida">{{ tequila }}</div>
  </div>

  <div class="izq">
    <button (click)="ronPedido()" class="boton">RON____..</button>
    <div class="cantBebida">{{ ron }}</div>
  </div>
  <div class="izq">
    <button (click)="cervezaPedido()" class="boton">CERVEZA</button>
    <span class="cantBebida">{{ cerveza }}</span>
  </div>
</div>
</div>